[Desktop Entry]
Name=VpnConnectionGui
Version=1.0
Exec=/opt/VpnConnectionGui/init default
Icon=/opt/VpnConnectionGui/unnamed2-removebg-previewMin3.ico
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Application;